body{
    background: black;
}
div#Bcolor {
    background: red;
    color: white;
    height: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
div#Bcolor2{
    background: white;
    margin-left: 40px;
    margin-top: 50px;
    color: black;
    height: 550px;

}
div#filler1{
    background: red;
    height: 5px;
    width: 100%;
    margin-left: 0px;
    color: yellow;
    margin-top:-120px;
}

